{% for ntwk_name in item.networks -%}
{% if ntwk_name == "l2" -%}
{% for ntwk in network[ntwk_name] %}
<interface type='bridge'>
  <source network='{{ntwk.network_name}}' bridge='{{ntwk.bridge_name}}'/>
  <virtualport type='openvswitch'/>
  <model type='virtio'/>
  <address type='pci'/>
</interface>
{% endfor %}
{% else -%}
{% for ntwk in network[ntwk_name] %}
<interface type='network'>
  <source network='{{ntwk.network_name}}' bridge='{{ntwk.bridge_name}}'/>
  <virtualport type='openvswitch'/>
  <model type='virtio'/>
  <address type='pci'/>
</interface>
{% endfor %}
{%- endif %}
{%- endfor %}
